# What should be the name of the ecFlow suite.
name = 'egeff_rt'


# Experiment version; used as an identifier
# for the output datasets in the archive.
# (optional; if not specified then GEFF version
# number will be used as an identifier)
#expver = 'geff'


# Where is source code of the suite
source = dict(
    root = '/home/ma/ma9/dev/geff',
    builder = 'suites.builders.rt'
)


# Where to deploy the suite
target = dict(
    root = '/home/ma/emos/def/' + name,
    owner = 'emos',
)


jobs = dict(

    # where ecFlow server should generate job files
    root = '/vol/emos_nc2/output',

    # where to run jobs (destinations must be
    # defined in ~/.comfies/sjob/ directory)
    destinations = dict(
        default = 'lxc'
    ),
    # maximum number of jobs allowed to run at once
    limit = 26
)


# Where to create suite's working directory
workdir = '/gpfs/lxc/efas/emos/' + name

# Where is GEFF-RE suite (RT suite follows GEFF-RE)
geff_re_suite = dict(
    name = 'egeff_rt',
    host = 'vsms2',
    port = '43333',
)

# First barrier
first_barrier = '20180608'

# First fillup date
first_fillup = '20180608'

# First forecast date
first_fc = '20180608'

# Last forecast/fillup date (default: '20200101')
last_date = '20200101'


# Do we want full ensemble suite (default: yes)
# or only deterministic part?
with_ens = 'yes'

# Do we want dissemination (default=no)
with_diss = 'no'

# start as soon as /mc forecast finishes? (default=no)
follow_osuite = 'no'

# always use most recent reanalysis, re-calculate fillup
use_latest_reanalysis = 'yes'

# FDB parallel retrievals
mars_nworkers = 3


# Where to find GEFF-RE output, which is used as
# initial conditions for GEFF-RT forecasts:
# a) working directory of GEFF-EI suite
geff_re_dir = 'audumla:/var/tmp/ma9/fire/fire_ei_1_3/sim'

# b) archive of GEFF-EI suite
geff_re_arch_dir = 'ec:/ma9/geff/2.2/re/restart'

# Where is static dataset
datadir = '/perm/ma/ma9/data/geff'


# Where is the source code of various software packages
# that are installed together with geff_rt suite?
# (and in the future possibly any additional
# configuration parameters for each package).

packages = dict(

    model = dict(
        srcdir = source['root'] + '/model',
    ),

    scripts = dict(
        srcdir = source['root'] + '/scripts',
    ),
)
